<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
                    <ion-list>
                      
                          <div *ngIf="room.pic" style="padding: 20px"> 
                            <img src="{{room.pic}}" alt="Room" width="200" height="150">
                          </div>

                          <div *ngIf="!room.pic" style="padding: 20px"> 
                            <ion-item>
                              <ion-input type="file" (change)="featuredPhotoSelected($event)"></ion-input>
                            </ion-item>
                          </div>
                          
                        <ion-item>
                            <ion-label position="floating">Room name</ion-label>
                            <ion-input type="text" [(ngModel)]="room.name"></ion-input>
                          </ion-item>
                          
                      
                            <ion-item>
                                <ion-label position="floating">Hotel name</ion-label>
                                <ion-input type="text" [(ngModel)]="room.hotelName"></ion-input>
                              </ion-item>
                              
                     
                        <ion-item>
                    
                                <ion-label position="floating">Price</ion-label>
                                <ion-input type="number" [(ngModel)]="room.price"></ion-input>
                              </ion-item>
                              
                              <ion-item>
                                  <ion-label>Room size</ion-label>
                                  <ion-select cancelText="Close" okText="Ok" [(ngModel)]="room.room_size">
                                    <ion-select-option value="24 by 30">24 by 30</ion-select-option>
                                    <ion-select-option value="12 by 20">12 by 20</ion-select-option>
                                    <ion-select-option value="40 by 60">40 by 60</ion-select-option>
                                    <ion-select-option value="30 by 30">30 by 30</ion-select-option>
                                    <ion-select-option value="40 by 40">40 by 40</ion-select-option>
                                  </ion-select>
                                </ion-item>

                                <ion-item>
                    
                                    <ion-label position="floating">Location</ion-label>
                                    <ion-input type="text" [(ngModel)]="room.location"></ion-input>
                                  </ion-item>
                       
                              <ion-item>
                                  <ion-label>Features</ion-label>
                                  <ion-select multiple="true" cancelText="Close" okText="Ok" [(ngModel)]="room.feautures">
                                    <ion-select-option value="wifi">WiFi</ion-select-option>
                                    <ion-select-option value="sea view">Sea View</ion-select-option>
                                    <ion-select-option value="games">Games</ion-select-option>
                                    <ion-select-option value="smoking_zone">Smoking zone</ion-select-option>
                                    <ion-select-option value="shower">Shower</ion-select-option>
                                  </ion-select>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">Description</ion-label>
                                    <ion-textarea type="text" [(ngModel)]="room.description"></ion-textarea>
                                  </ion-item>
                      </ion-list>
                      <ion-button fill="outline" style="float:right" (click)="addRoom(room)"> Save</ion-button>
</ion-content>
