<ion-header>
  <ion-toolbar color="primary">
    <ion-title >User details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list  style="display: flex; flex-direction: row;  padding: 10px;">
     <ion-item style="flex: 1;">
        <img src="{{pic}}" style="border-radius: 50%" width="70" height="70" >   
        <div style="flex-direction: column"> 
            <ion-item > {{name}} </ion-item>
            <ion-item > {{cell}} </ion-item>
            <ion-item > {{bio}} </ion-item>
            <ion-item lines="none"></ion-item></div>
     </ion-item>  
         
      
        
      </ion-list>
</ion-content>
