
.container{
    display: flex;
    height: 100%;
    flex-direction: column;
    background-image: url("../../assets/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}
.container >ion-col{
    //margin: 5px; 
    padding: 10px;
}
ion-card{
   // border: rgb(26, 99, 148) solid 5px;
   
}
ion-card-title{
    font-size: 40px; 
    background-color: rgb(26, 99, 148); 
    padding: 10px;color: #fff;
    display: flex
}
ion-card-title >p{
 margin: auto;
}
 ion-item{
    background-color: rgb(26, 99, 148);
}
ion-card-content{
    background-color: rgb(26, 99, 148)
}
#accordionSidebar{
    width: 300px;
    background-color: rgb(236, 230, 230);
    margin-right: 2%;
    height: 20%;
    //display: flex;
   // color: #fff;
}
.row{
   // display: flex;
   margin-right: 0.5%;
}
.container-fluid{
    display:flex
}
.container-flui{
    margin:7px;
}
#details{
    height: 88vh;
}